<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hero info</title>

    <!-- here's the syntax for including CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- always load your own CSS file after the Booststrap CSS file -->
    <!-- so you can override Bootstrap CSS when needed  -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- and include jQuery and Bootstrap -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- load your JS file's after (= defer) the DOM is loaded  -->
    <script src="js/main.js" defer></script>
</head>

<body>
    <main>
        <header>
            <!-- look to the views path we've set in app.js -->
            <%- include('../partials/header') %>
        </header>

        <section class="content">
            <!-- did you pass your variables? -->
            <p>
                <%= hero.name %>
            </p>
            <img src="/images/<%= hero.image %>" />
            <p>
                <%= hero.backstory %>
            </p>
            <p>IngamePrice: <%= hero.price[0].inGamePrice %>
            </p>
            <p>RealMoney: <%= hero.price[0].realMoneyPrice %>
            </p>

            <h2>Abilities:</h2>
            <% for (let i=0; i < hero.abilities.length; i ++) { %>
                <p>
                    <%= hero.abilities[i].title %>
                </p>
                <p>
                    <%= hero.abilities[i].description%>
                </p>
                <img src="/images/<%= hero.abilities[i].icon %>" />
                <% } %>
        </section>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </main>
</body>

</html>